/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    background: #111111
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: #ffffff;
    padding: 0px;
    font-size: 20px;
}


.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
    height: 100vh;
    
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #111111;
    color: #dddddd;
    height: 100vh;
    padding: 0px;
}

.chat__messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px 24px 24px;
    overflow: auto;
}


/* Message Styles */

.message {
    margin-bottom: 16px;
    display: flex;
    justify-content:flex-start
      
}

.flex {
    background: #3d3c3c;
    border: 1px solid #3d3c3c;
    border-radius: 25px 25px 25px 0;
    padding: 10px;
    max-width: 50vw;

}

.message-own .flex {
    background: #352852;
    border: 1px solid #352852;
    border-radius: 25px 25px 0 25px;
}

.message-own {
    display: flex;
    justify-content: flex-end !important;
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
    font-style: italic;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 10px;
    position: fixed;
    bottom: 0;
    background: #111111;
    width: 100%;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 0;
}

.compose input {
    width: 100%;
    margin: 0;
    padding: 12px;
    border-right: 0 ;
    border-radius: 50px 0 0 50px;
    height: 50px;
    flex-grow: 1;
}

.compose button {
    width: 10%;
    font-size: 14px;
}

#chat-send {
    background: #ffffff;
    color: #777777;
    margin: 0;
    border: 1px solid #eeeeee;
    border-left: 0;
    border-radius: 0 50px 50px 0;
    height: 50px;
    transition: color .3s ease;
    width: auto;
}
#chat-send:hover {
    color: #7C5CBF;
}

#send-location {
    border-radius: 50px;
    margin: 0 5px 0 0;
    height: 50px;
    width: auto;
    font-size: 14px;
    padding: 15px 20px 20px 20px
}

/* Chat Sidebar Styles */

.chat__sidebar {
    position: fixed;
    height: 100vh;
    color: white;
    background: #272626;
    overflow: auto;
    width: 0;
    z-index: 3;
    transition: 0.4s;
    display: flex;
}

.sidebar-main {
    width: 100%;
    z-index: 1;
}

.arrow {
    position: fixed;
    background: #2c2f3a;
    border: 1px solid #2c2f3a;
    border-radius: 0 10px 10px 0;
    /* width: 30px; */
    left: 0px;
    top: 20px;
    z-index: 5;
    cursor: pointer;
    transition: 0.4s;

}

.move {
    margin-left: 0;
}

.open {
    width: 225px;
}

.line {
    width: 15px;
    height: 1px;
    background: white;
    margin: 13px 0;
    transition: 0.4s
    
}

.line-one {
    transform: rotate(30deg) translate(2px, 3px)
}

.line-two {
    transform: rotate(-30deg) translate(1.5px, -2.5px)
}

.move .line-one {
    transform: rotate(-30deg) translate(-1.5px, 2.5px);
}

.move .line-two {
    transform: rotate(30deg) translate(-2px, -3px);
}

.room-title {
    font-weight: 400;
    font-size: 25px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 0
}

.users li {
    background: #2c2f3a;
    border: 1px solid #2c2f3a;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 15px;
    margin-bottom: 10px;
    width: 100%
}

/* Always show sidebar on big screens */

@media screen and (min-width: 700px) {
    .chat__sidebar {
        width: 225px
    }

    .arrow {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    /* Chat Sidebar Styles */

    /* Message Composition Styles */

    .compose {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        flex-shrink: 0;
        padding: 0 10px;
        position: sticky;
        background: #111111;
        width: 100%;
        }

    .compose form {
        display: flex;
        flex-grow: 1;
        margin-bottom: 10px;
        padding: 0;
    }

    .compose input {
        width: 100%;
        margin: 0;
        padding: 12px;
        border-right: 0 ;
        border-radius: 50px 0 0 50px;
        height: 40px;
        flex-grow: 1;
        max-height: auto;
        
    }

    .compose button {
        width: 10%;
        font-size: 14px;
    }

    #chat-send {
        background: #ffffff;
        color: #777777;
        margin: 0;
        border: 1px solid #eeeeee;
        border-left: 0;
        border-radius: 0 50px 50px 0;
        height: 40px;
        transition: color .3s ease;
        width: auto;
        padding: 0 15px 0

    }
    #chat-send:hover {
        color: #7C5CBF;
    }

    #send-location {
        /* border-radius: 50px; */
        background: none;
        margin: 5px 10px 10px 5px;
        height: 30px;
        width: auto;
        padding: 5px
    }

    #send-location img {
        filter: brightness(0) saturate(100%) invert(41%) sepia(46%) saturate(684%) hue-rotate(218deg) brightness(90%) contrast(94%);
    }

    button:disabled {
        filter: brightness(0) saturate(100%) invert(41%) sepia(22%) saturate(12%) hue-rotate(314deg) brightness(94%) contrast(96%)
    }
}

@media screen and (max-width: 375px) {
    html {
        max-width: 375px;
        max-height: 750px;
        overflow: hidden
    }

    .chat__messages {
        padding: 60px 24px 24px;
    }
}